@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #ffff;
}

.main {
    background: #181818;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

.text-default {
    color: #ffff;
    font-size: 16px;
    font-weight: 400;
}

.content {
    padding: 3% 5%;
}

.banners-header {
    height: 520px;
    margin-top: 25px;
    background-image: url('../images/banner-one.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    transition: all .1s ease-in-out;
    animation: banners-header 10s infinite linear;
}

.btn-produtos, .btn-produtos:hover {
    align-items: center;
    color: white;
    background: #AA7647;
    display: flex;
    font-weight: 800;
    height: 50px;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 210px;
}

.cards {
    color: #ffff;
    background: #0E3254 !important;
    border-top: 5px solid #AA7647 !important;
    border-radius: 0 !important;
    padding: 20px 15px;
    width: 32%;
}

.card-image {
    align-items: center;
    display: flex;
    height: 70px;
}

.cards-title {
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
}

.cards-text {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    height: 180px;
}

.btn-more {
    align-items: center;
    background: #AA7647;
    display: flex;
    height: 50px;
    justify-content: center;
    margin-top: 50px;
}

.btn-saiba-mais, .btn-saiba-mais:hover {
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 800;
}

.title-sobre {
    color: #AA7647;
    font-size: 30px;
    font-weight: 400;
}

.text-sobre {
    font-size: 17px;
    line-height: 28px;
}

.banner-mscopy, .banner-criptocopy, .banner-msbot {
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid #AA7647;
    height: 100%;
    width: 100%;
}

.content-mscopy {
    padding: 80px 40px 80px 80px;
    width: 45%;
}

.content-criptocopy {
    padding: 80px 80px 80px 40px;
    width: 45%;
}

.content-msbot {
    padding: 145px 60px 110px 80px;
    width: 45%;
}

.title-banner {
    font-size: 35px;
    font-weight: 800;
    text-transform: uppercase;
}

.text-banner {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

.btn-assinar {
    align-items: center;
    background: #AA7647;
    display: flex;
    height: 50px;
    justify-content: center;
    margin-top: 50px;
    width: 375px;
}

.btn-quero-assinar, .btn-quero-assinar:hover {
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 800;
}

.videos {
    background-color: #001529;
    border-bottom: 10px solid #AA7647;
    height: 400px;
}

.text-footer {
    color: #585858;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0;
}

/* carrousel videos */
.carousel {
    padding: 0 30px;
}
.container-videos {
    margin-left: 45px !important;
    width: 85%;
}

.swiper-slide {
    margin-right: 30px !important;
}

.btn-prev {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.btn-next {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

/* mobile */
.banners-header-mobile {
    background-image: url('../images/banner-one-mobile.png');
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    transition: all .1s ease-in-out;
    animation: banners-header-mob 12s infinite linear;
}

.header-mobile {
    padding-top: 20px;
    padding-bottom: 20px;
}


@keyframes banners-header{
    0% {
        background-image: url('../images/banner-one.png');
    }
    25% {
        background-image: url('../images/banner-one.png');
    }

    50% {
        background-image: url('../images/banner-two.png');
    }

    75% {
        background-image: url('../images/banner-two.png');
    }

    100% {
        background-image: url('../images/banner-one.png');
    }
}

@keyframes banners-header-mob{
    0% {
        background-image: url('../images/banner-one-mobile.png');
    }
    25% {
        background-image: url('../images/banner-one-mobile.png');
    }

    50% {
        background-image: url('../images/banner-two-mobile.png');
    }

    75% {
        background-image: url('../images/banner-two-mobile.png');
    }

    100% {
        background-image: url('../images/banner-one-mobile.png');
    }
}

@media screen and (min-width: 1450px) and (max-width: 2000px) {
    .cards {
        padding: 20px 35px;
        width: 30%;
    }

    .swiper-slide {
        width: 334px !important;
    }

    .container-videos {
        margin-left: 80px !important;
    }
}

@media screen and (min-width: 1550px) and (max-width: 1650px) {
    .content-mscopy {
        padding: 130px 80px 130px 80px;
        width: 40%;
    }

    .content-criptocopy, .content-msbot {
        width: 40%;
    }
}

@media screen and (min-width: 1650px) and (max-width: 2000px) {
    .content-mscopy {
        padding: 130px 100px 130px 80px;
        width: 35%;
    }

    .content-criptocopy {
        padding: 130px 80px 130px 40px;
        width: 35%;
    }

    .content-msbot {
        padding: 175px 100px 150px 80px;
        width: 35%;
    }
}

/* banner header */
@media screen and (min-width: 1300px) and (max-width: 1500px) {
    .banners-header {
        height: 560px;
    }
}

@media screen and (min-width: 1501px) and (max-width: 1600px) {
    .banners-header {
        height: 600px;
    }
}

@media screen and (min-width: 1601px) and (max-width: 1800px) {
    .banners-header {
        height: 670px;
    }
}

@media screen and (min-width: 1801px) and (max-width: 2000px) {
    .banners-header {
        height: 730px;
    }
}

@media screen and (max-width: 850px) {
    .desktop {
        display: none;
    }

    .text-default {
        font-size: 14px;
    }

    .cards {
        width: 100%;
    }

    .btn-more {
        margin-top: 0;
    }

    .text-sobre {
        font-size: 15px;
    }

    .content-mscopy, .content-criptocopy,
    .content-msbot {
        padding: 70px 40px 50px 40px;
        width: 100%;
    }

    .title-banner {
        font-size: 30px;
    }

    .text-banner {
        font-size: 15px;
    }

    .btn-assinar {
        margin-top: 85px;
        width: 100%;
    }

    .container-videos {
        margin-left: 27px !important;
        width: 73%;
    }

    .swiper-slide {
        width: 197px !important;
    }

    .btn-next, .btn-prev {
        margin: 0;
    }

    .text-footer {
        font-size: 14px;
    }
}

@media screen and (min-width: 851px) {
    .content-mobile {
        display: none;
    }
}


